<h2>Users</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td><%=h user.crypted_password %></td>
    <td><%= link_to 'Show', user %></td>
  <% if user.id == @current_user.id %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>